epochs: [ 100 ]
batch_size: [ 4,8,16,32, 20 ]
emb_dim: [ 8, 16, 32, 64 ]
drop_out: [ 0.0, 0.5 ]
num_layer: [ 3,4,6,9, 10, 12 ]
lr: [ 0.0001, 0.001 ]
virtual_node: [ 0 ]
pooling: [ "sum", "mean" ]
lr_schedule_patience: [ 10000 ]
model: [ "GIN" ]
transform_k_wl: [ 3 ]
k_wl_turbo: [ 0 ]
tracking: [ 1 ]
drop_feat: [ 0 ]
k_wl_pool_function: [ 'cat' ]
k_wl_separate_embedding: [ 0 ]
device: [ 0 ]
k_wl_set_based: [ 1 ]
sequential_k_wl: [ 1 ]
filter_data_max_graph_size: [ 70 ]
add_node_degree: [ 1 ]