epochs: [ 100 ]
batch_size: [ 16 ]
emb_dim: [ 8, 16, 32, 64, 128 ]
drop_out: [ 0.0, 0.1, 0.5 ]
num_layer: [ 2,3,4,5,6 ]
lr: [ 0.0001, 0.001, 0.01 ]
virtual_node: [ 0 ]
lr_schedule_patience: [ 10 ]
model: [ "GIN" ]
transform_k_wl: [ 3 ]
tracking: [ 1 ]